@font-face {
  font-family: "Roboto";
  src: url(./public/Roboto-Regular.ttf);
}
* {
    box-sizing: border-box;
    font-family: "Roboto";
  }
  body,
  html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke; 
  }
  .app {
    width: 400px;
    max-width: 100%;
    border: 1px dotted;
    padding: 0 2rem 2rem 2rem;
    background-color: white;
  }
  .wishlist-title {
    text-align: center;
  }
  .wish-input {
    border: 0;
    border-bottom: 2px dashed grey;
    padding: 0;
  }
  .wish-input__label {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .wish-input__field {
    width: 100%;
    border: 0;
    padding: 0.1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
  }
  .wish-input__field:focus {
    outline: none;
  }
  .wish-input__field:focus::placeholder {
    color: transparent;
  }
  .wish-list {
    list-style: none;
    padding: 0;
  }
  .wish-list__item {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
  }
  .wish-list__item > * + * {
    margin-left: 1rem;
  }
  .wish-list__item input {
    width: 1.5rem;
    height: 1.5rem;
  }
  .wish-list__item--done label {
    color: green;
    text-decoration: line-through;
    text-decoration-color: green;
  }
  .wish-clear {
    width: 100%;
    padding: 0.5rem;
    background: white;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 3px;
  }
  .wish-clear:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }